.mesto__like {
  border: 0;
  outline: 0;
  background-color: transparent;
  padding: 0;
  height: 19px;
  width: 22px;
  background-image: url(../../../images/like.svg);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0 20px;
}

.mesto__like:hover {
  cursor: pointer;
  opacity: .5;
}

.mesto__like:active {
  opacity: 1;
  background-image: url(../../../images/small-like.svg);
}
