.popup__button-cancel {
  position: absolute;
  margin: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  padding: 0;
  height: 32px;
  width: 32px;
  background-image: url(../../../images/Close_Icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  top: -45px;
  right: -40px;
  transition: opacity 0.5s linear
}

.popup__button-cancel:hover {
  cursor: pointer;
  opacity: .6;
}

@media screen and (max-width: 550px) {
  .popup__button-cancel {
    max-width: 20px;
    height: 20px;
    top: -35px;
    right: 0;
  }
}
