.profile__add-button {
  margin: 0 0 0 auto;
  border: 2px #fff solid;
  outline: 0;
  background-color: transparent;
  padding: 0;
  height: 50px;
  width: 150px;
  background-image: url(../../../images/Vector-add.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.5s linear;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: .6;
}

@media screen and (max-width: 1023px) {
  .profile__add-button {
    margin: 30px auto 0;
    width: 282px;
    background-image: url(../../../images/button_ad_16_16.svg);
  }
  }
