.mesto__cards {
  width: calc(100% - 400px);
  padding: 50px 200px 0 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 11px;
}


@media screen and (max-width: 1088px) {
  .mesto__cards {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
}
}


@media screen and (max-width: 500px) {
  .mesto__cards {
    grid-template-columns: 1fr;
}
}
