.mesto__title {
  margin: 0;
  padding: 0;
  max-width: 246px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 21px;
}

@media screen and (max-width: 1065px) {
  .mesto__title {
    min-width: 302px;
  }
}


@media screen and (max-width: 1023px) {
  .mesto__title {
    min-width: 0;
  }
}
