.profile__info {
  display: grid;
  grid-template-columns: 1fr 24px;
  column-gap: 18px;
  row-gap: 16px;
  max-height: 73px;
}

@media screen and (max-width: 1023px) {
  .profile__info {
    margin-top: 26px;
    row-gap: 10px;
    column-gap: 3px;
    grid-template-columns: 1fr 18px;
    padding-left: 20px
  }
}
